* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #1f2937;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

* {
  -webkit-tap-highlight-color: transparent;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

